{% load static %}
<div id="main-slider">
    <div id="home-slider" class="owl-carousel owl-theme">
        <div class="item">
            <img src="{% static 'images/slider-2.jpg' %}" alt="slide-1" class="img-responsive">
            <div class="slider-desc">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slide-offers-left">
                                <div class="slide-offers-title">
                                    <span>Біла сукня з квітами</span>
                                    та красивими
                                    ювелірними прикрасами-1
                                </div>
                                <p>Нова колекція  Fvhresh уже в продажі</p>
                                <a href="#" class="btn-brand">ПЕРЕГЛЯНУТИ КОЛЕКЦІЮ</a>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="{% static 'images/slider-2.jpg' %}" alt="slide-2" class="img-responsive">
            <div class="slider-desc">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="slide-offers-left">
                                <div class="slide-offers-title">
                                    <span>Біла сукня з квітами</span>
                                    та прикрасами-2
                                </div>
                                <p>Нова колекція  Fvhresh уже в продажі</p>
                                <a href="#" class="btn-brand">ПЕРЕГЛЯНУТИ КОЛЕКЦІЮ</a>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
