{% extends 'base.html' %}
{% load static %}
{% block title %} | Authorisation {% endblock %}

{% block content %}
<div id="content">
  <div class="page-title">
    <div class="container">
      <div class="page-title-inner clearfix">
        <h3>CREATE TAG</h3>
        <div class="breadcumb">
          <a href="/">HOME</a>
          <span> / </span>
          <span>Add tag</span>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="login-block">
      <div class="row title-login clearfix">
        <div class="col-md-6 one-block active" data-tab="#login">Create tag</div>
      </div>
      <div class="row tab-box clearfix">
        <div class="col-md-6 box-tab" id="login">
          <form action="{% url 'tag_create_url' %}" method="POST" class="comment-form" >
            {% csrf_token %}

            {% for field in form %}
              <div class="form-group">

                {% if field.errors %}
                  <div class="alart alert-danger">
                    {{ field.errors }}
                  </div>
                {% endif %}

                <label>{{ field.label }}</label><br>
                {{ field }}
              </div>
            {% endfor %}

            <button type="submit" class="btn-brand">Create tag</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
